@using Brewgr.Web
@using ctorx.Core.Messaging
@using Brewgr.Web.Core.Model

@model HomePageViewModel

@{
    ViewBag.Title = "Homebrew Recipes, Tools & Community";
    ViewBag.Description = "Brewgr is a free online homebrew website and recipe calculator. Brewgr will show you what type of homebrew your recipe will create with homebrew calculations";
}

<div id="vw-home" class="container-fluid view">
    <div class="row">
        <div class="col-sm-12">

            <div id="hero-image">
                <div class="wrapper">
                    <h1>Connecting the world's homebrewers.</h1>
                    @if (ViewBag.ActiveUser != null)
                    {
                        <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, "http")" class="btn btn-success btn-lg">New Recipe</a>
                        <a href="@Url.UserProfileUrl((ViewBag.ActiveUser as UserSummary).Username)">My Recipes</a>
                    }
                    else
                    {
                        <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, "http")" class="btn btn-success btn-lg">Start crafting great beer!</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 home-search">
            @Html.Partial("_SearchForm", new SearchViewModel())
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>New Homebrew Recipes</h2>
                @foreach (var recipeSummary in Model.NewRecipes)
                {
                    @Html.Partial("_RecipeWidget", recipeSummary)
                }
            </div>
            <div class="col-sm-4">
                <h2>Top Weekly Contributors</h2>
                @foreach (var userSummary in Model.TopContributors)
                {
                    @Html.Partial("_UserWidget", userSummary)
                }
            </div>
            <div class="col-sm-4">
                <h2>Popular Recipes</h2>
                @foreach (var recipeSummary in Model.PopularRecipes)
                {
                    @Html.Partial("_RecipeWidget", recipeSummary)
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h2><img src="~/img/connect.png" /> Connect</h2>
                <p>A key to becoming a better homebrewer is connecting with other homebrewers. Brewgr is a homebrew community where you can tap into the bounty of tried, true, and tested homebrew recipes that exist in the arsenal of homebrewers everywhere. Where beer recipes can easily be shared, searched, logged — and, most importantly, brewed… and enjoyed!</p>
            </div>
            <div class="col-sm-4">
                <h2><img src="~/img/discover.png" /> Discover</h2>
                <p>Looking for homebrew recipes? You've come to the right place. Brewgr has many different homebrew recipes contributed by other users including American Pale Ale Recipes, American IPA Recipes, Robust Porter Recipes, Sweet Stout Recipes, Brown Ale Recipes, Irish Red Recipes, and many other homebrew recipes waiting to be brewed by you.</p>
            </div>
            <div class="col-sm-4">
                <h2><img src="~/img/create.png" /> Create</h2>
                <p>Brewgr's homebrew recipe calculator, homebrew calculators and other homebrew tools give you real-time calculations, as you build your recipe, allowing you to see exactly what kind of homebrew your recipe will create. Use Brewgr's homebrew software tools and calculators to create the next best homebrew recipe for you and your friends enjoy.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Online Homebrew Community</h2>
                <p>Each day more and more homebrewers like you are joining Brewgr's continually growing homebrew community and becoming better homebrewers through sharing of homebrew recipes and homebrew tips. Join today and take your homebrewing skills to the next level.</p>
            </div>
        </div>

    </div>
</div>




