@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@using System.Web.Optimization
@model BrewSessionViewModel

@{
    ViewBag.Title = "Editing Brew Session for " + Model.RecipeSummary.Name;
}

@* Style Bundle *@
@Styles.Render("~/bundles/css/builder")

<div id="view-editbrewsession" class="content builder-wrapper">
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="primary builder session">
                    @Html.Partial("_BrewSessionForm", Model)

                    @* Tasting Notes *@
                    @Html.Partial("~/Views/Recipe/_TastingNoteList.cshtml", Model.TastingNotes ?? new List<TastingNote>(), new ViewDataDictionary(ViewData) { { "CreatorId", Model.UserId }, { "BrewSessionId", Model.BrewSessionId } })

                    @* Comments *@
                    @Html.Partial("_BrewSessionDetailComments", Model)
                </div>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="compliment">
                    <div id="recipe-facts">
                        @Html.Partial("_RecipeFacts", Model.RecipeSummary)
                    </div>
                    <input type="submit" id="SaveBrewSessionButton" class="button button_green save-recipe margintop10" value="Save Brew Session" />
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            SessionBuilder.initialize();
            @if(Model.RecipeSummary.RecipeTypeId != (int)RecipeType.Extract)
            {
                <text>WaterCalc.initialize($('#s_waterIn'), $('#s_waterOut'), $('select[data-name=s_UnitType]'));</text>
            }
        });
    </script>
}


